.imgK{
    height: fit-content;
    width: fit-content;
    }
    
    .floatR{
    float: right;
    padding-right: 10%;
    }
    .floatL{
        float: left;
        padding-left: 10%; 
        
        
    }
    
    .containers{
        border: 1px solid black;
        height: 100%;
        width: 100%;
        color: black;
        margin-bottom: 20px;
    }
    
    