aside {
    
    height: 110vh;
}

aside ul {
    list-style-type: none;
    padding-top: 10%;
    padding-left: 50px;
}

aside ul li  {
    
    padding-bottom: 10%;
    font-weight: bold;
    font-size: x-large;
}

.navlink{
    text-decoration: none;
    color: black;
    
    
    
}
.navlink:hover {
    
    font-weight: bolder;
    
}